{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <Meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles_settings.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Settings</title>
</head>

<body>

<header>

    <div class="top-header">
        <a href="{% url 'home_logged' %}">
            <div id="logo-name">
                <img class="logo" src="{% static 'imgs/img_logo.png' %}" alt="logo">

                <h1 id="name">
                    F<span style="color: #00B050;">inde</span>
                </h1>
            </div>
        </a>
        {{ request.user }}
    </div>

</header>

<div id="main">

    <div id="left">
        <div class="menu">
            <a href="{% url 'edit_profile' %}">
                <div class="titles">
                    <span class="material-icons menu-icon">manage_accounts</span>
                    Editar Perfil
                </div>
                <ul class="sub-menu">
                    <li>Imagen de perfil</li>
                    <li>Datos de perfil</li>
                    <li>Commerce Data</li>
                </ul>
            </a>
            <a href="{% url 'edit_lists' %}">
                <div class="titles">
                    <span class="material-icons menu-icon">format_list_bulleted</span>
                    Mis Listados
                </div>
                <ul class="sub-menu">
                    <li>Ve, Agrega o Borra listados y productos</li>
                </ul>
            </a>
            <a>
                <div class="titles">
                    <span class="material-icons menu-icon">settings</span>Configuracion
                </div>
                <ul class="sub-menu">
                    <li>Change Password</li>
                    <li>Erase Account</li>
                    <li>Security</li>
                    <li>Privacy</li>
                </ul>
            </a>
        </div>
    </div>

    <div id="right">

        <div id="list-edit-main">
            <div style="position: fixed; background: white; top: 73px">
                <div class="main-title"><h3>Mis Productos</h3></div>
                <div style="background: white; height: 115px; width: 1620px">
                    <nav id="list-nav">
                        <button id="filter">
                            <span class="material-icons list-nav-icons">filter_alt</span>
                            Filtrar
                        </button>
                        <div id="product-search">
                            <span class="material-icons search-nav-icon">Search</span>
                            <input id="input-search" placeholder="Search product">
                        </div>
                        <a href="{% url 'publish' %}">
                            <button id="publish">Publicar</button>
                        </a>
                    </nav>
                </div>
            </div>
            <hr style="height: 240px">

            {% if  productData|length == 0 %}
                <div class="message">
                    <div><span class="material-icons" style="font-size: 35px !important; margin-right:10px;">filter_alt_off</span>No
                        tienes productos todavia!
                    </div>
                </div>
            {% else %}
                {% for i in productData %}
                    <div class="list">
                        <div class="product">
                            {% if i.image %}
                                <img class="product-image" src="{{ i.image.url }}" alt="No image uploaded">
                            {% endif %}
                            <div class="vl"></div>
                            <p class="product-title p-titles">{{ i.title }}</p>
                            <div class="vl"></div>
                            <p class="product-deliver p-titles">{{ i.description }}</p>
                            <div class="vl"></div>
                            <p class="product-price p-titles"><span>$</span>{{ i.price }}</p>
                            <div class="vl"></div>
                            <a><span class="material-icons edit-prod-icon">edit</span></a>
                        </div>
                    </div>
                    {{ productData.title }}
                {% endfor %}
            {% endif %}


            <hr style="height: 240px; border-style: none">
        </div>

    </div>
</div>

</body>

</html>