{% load static %}


<!DOCTYPE html>

<html lang="en">

<head>
    <Meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles_home.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Home</title>

</head>

<body style="background-color: white">

<form method="GET" action="{% url 'test' %}">
    <input type="search" name="search">
    <button type="submit"> Search</button>
</form>
<br>



{% block content %}
    {% for i in products %}
        <h3>{{ i.title }}</h3>

    {% empty %}
        <h2>No results found</h2>
    {% endfor %}
{% endblock %}


</body>

</html>