{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <Meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles_settings.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Settings</title>
</head>

<body>

<header>

    <div class="top-header">
        <div id="logo-name">
            <img class="logo" src="{% static 'imgs/img_logo.png' %}" alt="logo">

            <h1 id="name">
                F<span style="color: #00B050;">inde</span>
            </h1>
        </div>
    </div>

</header>

<div id="main">

    <div id="left">
        <div class="menu">
            <a href="{% url 'edit_profile' %}">
                <div class="titles">
                    <span class="material-icons menu-icon">manage_accounts</span>
                    Editar Perfil
                </div>
                <ul class="sub-menu">
                    <li>Imagen de perfil</li>
                    <a href="{% url 'edit_profile' %}">
                        <li>Datos de perfil</li>
                    </a>
                    <li>Datos de comercio</li>
                </ul>
            </a>
            <a href="{% url 'edit_lists' %}">
                <div class="titles">
                    <span class="material-icons menu-icon">format_list_bulleted</span>
                    Mis listados
                </div>
                <ul class="sub-menu">
                    <li>Ver, Agregar, Eliminar Listados</li>
                </ul>
            </a>
            <a>
                <div class="titles">
                    <span class="material-icons menu-icon">settings</span>Configuracion
                </div>
                <ul class="sub-menu">
                    <li>Cambiar contrasena</li>
                    <li>Autenticacion de dos pasos</li>
                    <li>Cuentas ligadas</li>
                    <li>Eliminar cuenta</li>
                    <li>Seguridad</li>
                    <li>Privacidad</li>
                </ul>
            </a>
        </div>
    </div>

    <div id="right">

        <div id="list-edit-main">
            <div style="position: fixed; background: white; top: 73px">
                <div class="main-title"><h3>Mis Listados</h3></div>
                <div style="background: white; height: 115px; width: 1620px">
                    <nav id="list-nav">
                        <button id="filter">
                            <span class="material-icons list-nav-icons">filter_alt</span>
                            Filtrar
                        </button>
                        <div id="product-search">
                            <span class="material-icons search-nav-icon">search</span>
                            <input id="input-search" placeholder="Buscar por # o titulo">
                        </div>
                        <a href="#">
                            <button id="publish">Publicar</button>
                        </a>
                    </nav>
                </div>
            </div>
            <hr style="height: 240px">


            <div class="list">
                <div class="list-nav">
                    <div class="item-qty"><span>Qty. </span>2</div>
                    <div class="list-title">Sillas de oficina</div>
                    <span class="material-icons expand-list-icon">expand_less</span>
                    <div class="item-id"><span>#</span>182746</div>
                </div>
                <div class="product">
                    <img class="product-image" src="img_chair-1.jpg" alt="Product">
                    <div class="vl"></div>
                    <p class="product-title p-titles">Silla officina tipo 1</p>
                    <div class="vl"></div>
                    <p class="product-deliver p-titles"><span>Tipo de entrega : </span>En tienda</p>
                    <div class="vl"></div>
                    <p class="product-price p-titles"><span>$</span>12,000</p>
                    <div class="vl"></div>
                    <a><span class="material-icons edit-prod-icon">edit</span></a>
                </div>
                <div class="product">
                    <img class="product-image" src="img_chair-2.jpg" alt="Product">
                    <div class="vl"></div>
                    <p class="product-title p-titles">Silla officina tipo 14</p>
                    <div class="vl"></div>
                    <p class="product-deliver p-titles"><span>Tipo de entrega : </span>En tienda con envio a domicilio
                        gratis</p>
                    <div class="vl"></div>
                    <p class="product-price p-titles"><span>$</span>9,000</p>
                    <div class="vl"></div>
                    <a><span class="material-icons edit-prod-icon">edit</span></a>
                </div>
                <div class="product">
                    <img class="product-image" src="img_chair-3.jpg" alt="Product">
                    <div class="vl"></div>
                    <p class="product-title p-titles">Silla officina tipo 3</p>
                    <div class="vl"></div>
                    <p class="product-deliver p-titles"><span>Tipo de entrega : </span>Punto Medio</p>
                    <div class="vl"></div>
                    <p class="product-price p-titles"><span>$</span>10,000</p>
                    <div class="vl"></div>
                    <a><span class="material-icons edit-prod-icon">edit</span></a>
                </div>
            </div>

            <div class="list">
                <div class="list-nav">
                    <div class="item-qty"><span>Qty. </span>1</div>
                    <div class="list-title">Audifonos</div>
                    <span class="material-icons expand-list-icon">expand_less</span>
                    <div class="item-id"><span>#</span>182747</div>
                </div>
                <div class="product">
                    <img class="product-image" src="img_headphones.jpeg" alt="Product">
                    <div class="vl"></div>
                    <p class="product-title p-titles">Silla officina tipo 1</p>
                    <div class="vl"></div>
                    <p class="product-deliver p-titles"><span>Tipo de entrega : </span>En tienda</p>
                    <div class="vl"></div>
                    <p class="product-price p-titles"><span>$</span>2,000</p>
                    <div class="vl"></div>
                    <a><span class="material-icons edit-prod-icon">edit</span></a>
                </div>
            </div>

            <div class="list">
                <div class="list-nav">
                    <div class="item-qty"><span>Qty. </span>5</div>
                    <div class="list-title">Teclados</div>
                    <span class="material-icons expand-list-icon">expand_more</span>
                    <div class="item-id"><span>#</span>182749</div>
                </div>
            </div>


            <hr style="height: 240px; border-style: none">
        </div>

    </div>
</div>

</body>

</html>