{% load static %}


<!DOCTYPE html>

<html lang="en">

<head>
    <Meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles_settings.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Settings</title>
    <script>

    </script>
</head>

<body>

<header>

    <div class="top-header">
        <a href="{% url 'home_logged' %}">
            <div id="logo-name">
                <img class="logo" src="{% static 'imgs/img_logo.png' %}" alt="logo">

                <h1 id="name">
                    F<span style="color: #00B050;">inde</span>
                </h1>
            </div>
        </a>

        {{ request.user }}
    </div>

</header>

<div id="main">

    <div id="left">
        <div class="menu">
            <a href="{% url 'edit_profile' %}">
                <div class="titles">
                    <span class="material-icons menu-icon">manage_accounts</span>
                    Edit Profile
                </div>
                <ul class="sub-menu">
                    <a href="#ancher-1">
                        <li>Profile picture</li>
                    </a>
                    <a href="#ancher-2">
                        <li>Profile data</li>
                    </a>
                    <a href="#ancher-3">
                        <li>Commerce Data</li>
                    </a>
                </ul>
            </a>
            <a href="{% url 'edit_lists' %}">
                <div class="titles">
                    <span class="material-icons menu-icon">format_list_bulleted</span>
                    My lists
                </div>
                <ul class="sub-menu">
                    <li>See, Add, Erase Lists and Products</li>
                </ul>
            </a>
            <a>
                <div class="titles">
                    <span class="material-icons menu-icon">settings</span>Configuration
                </div>
                <ul class="sub-menu">
                    <li>Change Password</li>
                    <li>Erase Account</li>
                    <li>Security</li>
                    <li>Privacy</li>
                </ul>
            </a>
        </div>
    </div>

    <div id="right">
        <div id="profile-edit-main">
            <div class="main-title"><h3>Edit Profile</h3></div>

            <div class="main-container" id="edit-profile">
                <div id="ancher-1"></div>
                <div class="sub-containers">
                    <h4 class="sub-titles">Profile picture</h4>
                    <div class="profile-pic">
                        <img id="picture" src="{% static 'imgs/profile_pic.png' %}" alt="logo">
                        <button id="imageEdit-button"><span class="material-icons" id="pic-icon">edit</span></button>
                        <h2>Picture format, .jpg, .png, maximo 800 x 800 px, no obscene pictures allowed</h2>
                    </div>
                </div>

                <div id="ancher-2"></div>
                <div class="sub-containers">
                    <h4 class="sub-titles">Profile data</h4>
                    <h2>This is the personal data of your user account, to sell you must register at
                        <a href="#ancher-3" style="color: #00afee">Commerce data</a></h2>
                    <ul class="profile-form">
                        {% for data in data %}
                            <li class="profile-form-li">
                                <div style="color: #00B050">

                                    <span class="material-icons">person</span>
                                    User
                                </div>
                                <div class="profile-data">{{ request.user }}</div>
                            </li>
                            <li class="profile-form-li">
                                <div style="color: #00B050">

                                    <span class="material-icons">alternate_email</span>
                                    Mail
                                </div>
                                <div class="profile-data">{{ user.email }}</div>
                            </li>
                            <li class="profile-form-li">
                                <div>
                                    <button id="curpEdit-button"><span class="material-icons edit-icon">edit</span>
                                    </button>
                                    CURP
                                </div>
                                <div class="profile-data">{{ data.curp }}</div>
                            </li>
                            <h2>We ask this with the intention of create a secure and fraud free environment </h2>
                            <li class="profile-form-li">
                                <div>
                                    <button id="phoneEdit-button"><span class="material-icons edit-icon">edit</span>
                                    </button>
                                    Phone
                                </div>
                                <div class="profile-data">{{ data.phone }}</div>
                            </li>
                            <h2>Phone needed to activate 2 step verification process</h2>
                            <li class="profile-form-li">
                                <div>
                                    <button id="addressEdit-button"><span class="material-icons edit-icon">edit</span>
                                    </button>
                                    Address for Maps
                                </div>
                                <div class="profile-data">{{ data.address }}</div>
                            </li>
                            <h2>Just to automatically generate an approximate of shipping cost and time with the
                                selected deliver service</h2>
                        {% endfor %}
                    </ul>
                </div>

                <div id="ancher-3"></div>
                <div class="sub-containers" id="commerce-data">
                    <h4 class="sub-titles">Datos de vendedor</h4>
                    <h2> * Obligatorio para publicar!</h2>
                    <ul class="commerce-form">
                        <li class="commerce-form-li">
                            <div><span class="material-icons edit-icon">edit</span>*Nombre</div>
                            <div class="commerce-data">TEST DevGame eStore</div>
                        </li>
                        <h2>Nombre de tienda o Alias como te veran los compradores</h2>
                        <li class="commerce-form-li">
                            <div><span class="material-icons edit-icon">edit</span>*Tipo de comercio</div>
                            <div class="commerce-data">TEST Fisico</div>
                        </li>
                        <h2>Fisico, o tienda independiente en linea</h2>

                        <li class="commerce-form-li">
                            <div><span class="material-icons edit-icon">edit</span>*Haces envios</div>
                            <div class="commerce-data">TEST Si</div>
                        </li>
                        <h2>Solo podras hacer envios con factura a nombre de RFC registrado y acuerdo de garantia</h2>
                        <li class="commerce-form-li">
                            <div><span class="material-icons edit-icon">edit</span>Direccion de tienda fisica</div>
                            <div class="commerce-data">TEST baabababa 34 col. bababa</div>
                        </li>
                        <h2>En caso de tener tienda fisica, escribe la direccion donde las personas pueden ver tus
                            productos</h2>
                        <li class="commerce-form-li">
                            <div><span class="material-icons edit-icon">edit</span>Horario</div>
                            <div class="commerce-data">TEST Lunes - Viernes de 1:00pm a 8:pm / Sabados de 1:00pm a
                                3:00pm
                            </div>
                        </li>
                        <h2>En caso de tener tienda fisica, marca tu horario disponible</h2>
                        <li class="profile-form-li">
                            <div><span class="material-icons edit-icon">edit</span>*Codigo Postal</div>
                            <div class="commerce-data">TEST 04230</div>
                        </li>
                        <h2>El codigo postal servira de punto de referencia para que los comrpadores vean que tan cerca
                            estas de ellos</h2>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

Modals

<div class="modal" id="pic-modal">
    <div class="modal-content">
        <div class="close" id="close-picModal">+</div>
        SUBIR IMAGEN
    </div>
</div>

<div class="modal" id="curp-modal">
    <div class="modal-content">
        <div class="close" id="close-curpModal">+</div>
        <form method="POST" id="Update Curp">
            {% csrf_token %}
            {{ curpForm.curp }}
            <input type="submit" value="Update Curp" name="form_type">
        </form>
    </div>
</div>

<div class="modal" id="phone-modal">
    <div class="modal-content">
        <div class="close" id="close-phoneModal">+</div>
        <form method="POST" id="Update Phone">
            {% csrf_token %}
            {{ phoneForm.phone }}
            <input type="submit" value="Update Phone" name="form_type">
        </form>
    </div>
</div>

<div class="modal" id="address-modal">
    <div class="modal-content">
        <div class="close" id="close-addressModal">+</div>
        <form method="POST" id="Update Address">
            {% csrf_token %}
            {{ bAddressForm.address }}
            <input type="submit" value="Update Address" name="form_type">
        </form>
    </div>
</div>




{% block js_block %}

    <script type="text/javascript" src="{% static 'js/js_settings.js' %}"></script>

{% endblock %}

</body>

</html>