{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <Meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles_home_logged.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Home logged</title>

</head>

<body>

<header>

    <div class="top-header">
        <a href="{% url 'home_logged' %}">
            <div id="logo-name">
                <img class="logo" src="{% static 'imgs/img_logo.png' %}" alt="logo">

                <h1 id="name">
                    F<span style="color: #00B050;">inde</span>
                </h1>
            </div>
        </a>

        <form>
            <input id="mainSearch" placeholder="Busca aqui "/>
            <button id="searchButton">Buscar</button>
        </form>

        <div class="profile">
            <div class="ntfMenu-toggle">
                <span id="notification-icon">notifications</span>
                <div class="toggle-ntf">
                    <div class="ntf-dropMenu">
                        <div class="ntf-content">
                            PRUEBA DE BARRA DE NOTIFICACIONES
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropMenu-toggle">

                {% for i in data %}
                    {% if i.profile_pic %}
                        <img id="profile-pic" src="{{ i.profile_pic.url }}" alt="Error">
                    {% else %}
                        <img id="profile-pic" src="{% static 'imgs/profile_pic.png' %}" alt="logo">
                    {% endif %}
                {% endfor %}

                {{ request.user }}
                <div class="toggle">
                    <div class="dropMenu">
                        <ul id="left-column">
                            <li><span class="material-icons l-icon">manage_accounts</span></li>
                            <li><span class="material-icons l-icon">favorite</span></li>
                            <li><span class="material-icons l-icon">format_list_bulleted</span></li>
                            <li><span class="material-icons l-icon">settings</span></li>
                            <li><span class="material-icons l-icon">logout</span></li>
                        </ul>
                        <ul id="right-column">
                            <li><a href="{% url 'edit_profile' %}"><h2>Editar Perfil</h2></a></li>
                            <li><a href="#"><h2>Favoritos</h2></a></li>
                            <li><a href="{% url 'edit_lists' %}"><h2>Mss Listados</h2></a></li>
                            <li><a href="#"><h2>Configuracion</h2></a></li>
                            <li><a href="{% url 'logout' %}"><h2>Logout</h2></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div>
        <ul class="low-header">
            <li class="cp">
                <span id="cp-icon">edit_location_alt</span>
                <input type="text" id="cp-input" placeholder="Ingresa tu CP">
            </li>
            <li class="cp"><span class="material-icons">push_pin</span><a href="{% url 'edit_lists' %}">Mis listados</a>
            </li>
            <li><span class="material-icons">playlist_add</span><a href="{% url 'publish' %}">Publicar</a></li>
        </ul>
    </div>

</header>


<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg2KiBdjUjWwkODdQEWmlOdJAo5mzpNOE&callback=initMap"
        async>
</script>

<script>
    //INIT MAP
    let map, infoWindow;


    //INIT COORDINATES
    var markersOnMap = [
        {
            LatLng: [{
                {#id: 2,#}
                lat: 19.3497586,
                lng: -99.1311546
            }]
        },
        {
            LatLng: [{
                lat: 19.3550088,
                lng: -99.1293371
            }]
        },
        {
            LatLng: [{
                lat: 19.3587189,
                lng: -99.13814699999999
            }]
        },
        {
            LatLng: [{
                lat: 19.396479,
                lng: -99.173468
            }]
        }
    ]

    //INIT MARKERS
    function addMarkerInfo() {
        for (var i = 0; i < markersOnMap.length; i++) {
            const marker = new google.maps.Marker({
                position: markersOnMap[i].LatLng[0],
                map: map
            });
        }
    }

    //INIT MAP
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: 39.742043, lng: -104.991531},
            zoom: 14,
            mapTypeId: "roadmap",
            mapId: '73323dfcd106d471',
            accuracy: '10',
        });
        addMarkerInfo();


        //LOCALIZATION BUTTON
        infoWindow = new google.maps.InfoWindow();

        const locationButton = document.createElement("button");

        locationButton.textContent = "MI UBICACION";
        locationButton.classList.add("custom-map-control-button");
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
        locationButton.addEventListener("click", () => {
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        const pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude,
                        };

                        infoWindow.setPosition(pos);
                        infoWindow.setContent("Location found.");
                        infoWindow.open(map);
                        map.setCenter(pos);
                    },
                    () => {
                        handleLocationError(true, infoWindow, map.getCenter());
                    }
                );
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        });
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(
            browserHasGeolocation
                ? "Error: The Geolocation service failed."
                : "Error: Your browser doesn't support geolocation."
        );
        infoWindow.open(map);
    }

    //ENDS GEOLOCALIZATINO BUTTON

</script>

{% block js_block %}

    <script type="text/javascript" src="js_home_logged.js"></script>
    <script type="text/javascript" src="{% static 'js/js_home_logged.js' %}"></script>

{% endblock %}

</body>

</html>