{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <Meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles_home_logged.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Home logged</title>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            const uluru = {lat: -25.344, lng: 131.036};
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 4,
                center: uluru,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: uluru,
                map: map,
            });
        }
    </script>
</head>

<body>

<header>

    <div class="top-header">
        <div id="logo-name">
            <img class="logo" src="{% static 'imgs/img_logo.png' %}" alt="logo">

            <h1 id="name">
                F<span style="color: #00B050;">inde</span>
            </h1>
        </div>

        <form>
            <input id="mainSearch" placeholder="Busca aqui xdxdxd"/>
            <button id="searchButton">Buscar</button>
        </form>

        <div class="profile">
            <div class="ntfMenu-toggle">
                <span id="notification-icon">notifications</span>
                <div class="toggle-ntf">
                    <div class="ntf-dropMenu">
                        <div class="ntf-content">
                            PRUEBA DE BARRA DE NOTIFICACIONES
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropMenu-toggle">
                <img id="profile-pic" src="{% static 'imgs/profile_pic.png' %}">
                {{ request.user }}
                <div class="toggle">
                    <div class="dropMenu">
                        <ul id="left-column">
                            <li><span class="material-icons l-icon">manage_accounts</span></li>
                            <li><span class="material-icons l-icon">favorite</span></li>
                            <li><span class="material-icons l-icon">format_list_bulleted</span></li>
                            <li><span class="material-icons l-icon">settings</span></li>
                            <li><span class="material-icons l-icon">logout</span></li>
                        </ul>
                        <ul id="right-column">
                            <li><a href="{% url 'edit_profile' %}"><h2>Editar Perfil</h2></a></li>
                            <li><a href="#"><h2>Favoritos</h2></a></li>
                            <li><a href="#"><h2>Mss Listados</h2></a></li>
                            <li><a href="#"><h2>Configuracion</h2></a></li>
                            <li><a href="{% url 'logout' %}"><h2>Logout</h2></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div>
        <ul class="low-header">
            <li class="cp">
                <span id="cp-icon">edit_location_alt</span>
                <input type="text" id="cp-input" placeholder="Ingresa tu CP">
            </li>
            <li class="cp"><span class="material-icons">push_pin</span><a href="#">Favoritos</a></li>
            <li><span class="material-icons">playlist_add</span><a href="#">Publicar</a></li>
            <li><span class="material-icons">my_location</span><a href="#">Locacion</a></li>
        </ul>
    </div>

</header>


<div id="map"></div>


<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg2KiBdjUjWwkODdQEWmlOdJAo5mzpNOE&callback=initMap&libraries=&v=weekly"
        async
></script>

{% block js_block %}

    <script type="text/javascript" src="js_home_logged.js"></script>
    <script type="text/javascript" src="{% static 'js/js_home_logged.js' %}"></script>

{% endblock %}

</body>

</html>