{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles_sign.css" %}">

</head>
<body>

<header>

</header>

<div id="main-container">

    <div id="column">
        <a href="{% url 'home' %}">
            <div class="column-header">
                <img id="logo" src="{% static 'imgs/img_logo.png' %}" alt="logo">
                <h1 id="name">
                    F<span style="color: #00B050;">inde</span>
                </h1>
            </div>
        </a>
        <h2>
            Save , publish products or <br> find suppliers and more!
        </h2>


        <form method="POST" onsubmit="return checkPassword(this)">
            {% csrf_token %}
            <div class="column-div">
                {{ form.username }}
            </div>
            <div class="column-caption">
                <h3>
                    This username is unique for each user
                </h3>
            </div>
            <div class="column-div">
                {{ form.email }}
            </div>
            <div class="column-div">
                <input name="password1" id="psw_1" type="password">
                <input name="password2" id="psw_2" type="password">
                <div style="display:none">
                    {{ form.password1.auto_id }}
                    {{ form.password2.auto_id }}
                </div>
            </div>
            <div id="checkbox-pswrd">
                <input type="checkbox" id="checkbox" onclick="checkToggle()">
                <h3>Mostrar Contraseña</h3>
            </div>
            {% for i in messages %}

                <p  id="messages">{{ i }}</p>

            {% endfor %}
            <div class="column-caption" id="message" style="margin-bottom: 15px">
                <h3>
                    La contrasena debe contener lo siguiente:
                    <p id="letter" class="invalid">Una letra <b>minuscula</b></p>
                    <p id="capital" class="invalid">Una letra <b>mayuscula</b></p>
                    <p id="number" class="invalid">Un <b>numero</b></p>
                    <p id="length" class="invalid">Minimo <b>8 caracteres</b></p>
                </h3>
            </div>

            <div class="column-footer">
                <a class="link" href="{% url 'log' %}">
                    <h4>I already have an account...</h4>
                </a>

                <input class="bouncy" id="subm" type="submit" value="Sign in..." name="submit"/>
            </div>


            <div id="captcha">
                <div class="g-recaptcha brochure__form__captcha" data-sitekey="YOUR SITE KEY"></div>
            </div>
        </form>


    </div>
</div>

<footer style="position: center">

</footer>

<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Username..'
    form_fields[2].placeholder = 'Email..'
    form_fields[3].placeholder = 'Enter Password..'
    form_fields[4].placeholder = 'Re-enter Password..'

    for (var field in form_fields) {
        form_fields[field].className += 'form-control'
    }

    //checkbox variables
    var x = document.getElementById("psw_1");
    var y = document.getElementById("psw_2");


    // checkbox function
    function checkToggle() {
        if (x.type && y.type === "password") {
            x.type = "text";
            y.type = "text";
        } else {
            x.type = "password";
            y.type = "password";
        }
        console.log("di")
    }

    // password correct input variables
    var myInput = document.getElementById("psw_1");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");


    // When the user clicks outside of the password field, hide the message box
    document.getElementById("message").style.display = "none";

    // When the user clicks on the password field, show the message box
    myInput.onfocus = function () {
        document.getElementById("message").style.display = "block";
    }

    // Values validation function
    myInput.onkeyup = function () {

        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        if (myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
    }
</script>
<script type="text/javascript" src="{% static 'js/js_sign_html.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>


</body>
</html>