{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <Meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "css/styles_home.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Home</title>
    {#    <script src="{% static 'js/js_home.js' %}"></script>#}

</head>

<body style="background-color: white">

{#{% for i in dc %}#}
{#    {{ i }}#}
{#{% endfor %}#}
{{ dc }}

<header>

    <div class="top-header">
        <div id="logo-name">
            <img class="logo" src="{% static 'imgs/img_logo.png' %}" alt="logo">

            <h1 id="name">
                F<span style="color: #00B050;">inde</span>
            </h1>
        </div>

        <form>
            <input id="mainSearch" placeholder="Busca aqui xdxdxd"/>
            <button id="searchButton">Buscar</button>
        </form>

        <div id="log-sign-buttons">
            <a href="{% url 'log' %}">
                <button class="button type1">
                    Ingreso
                </button>
            </a>
            <a href="{% url 'sign' %}">
                <button class="button type1">
                    Registro
                </button>
            </a>
        </div>
    </div>

    <div>
        <ul class="low-header">
            <li class="cp">
                <span id="cp-icon">edit_location_alt</span>
                <input type="text" id="cp-input" placeholder="Ingresa tu CP">
            </li>
            <li class="cp"><span class="material-icons">push_pin</span><a href="#">Favoritos</a></li>
            <li><span class="material-icons">playlist_add</span><a href="#">Publicar</a></li>
            <li><span class="material-icons">my_location</span><a href="#">Locacion</a></li>
        </ul>
    </div>

</header>


<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg2KiBdjUjWwkODdQEWmlOdJAo5mzpNOE&callback=initMap"
        async>
</script>

<script>
    //INIT MAP
    let map, infoWindow;



    //INIT COORDINATES
    var markersOnMap = [
        {
            id: {
                id: 1
            },
            LatLng: [{
                lat: 19.392856,
                lng: -99.162641
            }]
        },
        {
            LatLng: [{
                lat: 19.393686,
                lng: -99.170752
            }]
        },
        {
            LatLng: [{
                lat: 19.408309,
                lng: -99.163104
            }]
        },
        {
            LatLng: [{
                lat: 19.396479,
                lng: -99.173468
            }]
        }
    ]

    //INIT MARKERS
    function addMarkerInfo() {
        for (var i = 0; i < markersOnMap.length; i++) {
            const marker = new google.maps.Marker({
                position: markersOnMap[i].LatLng[0],
                map: map
            });
        }
    }

    //INIT MAP
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: 39.742043, lng: -104.991531},
            zoom: 14,
            mapTypeId: "roadmap",
            mapId: '73323dfcd106d471',
            accuracy: '10',
        });
        addMarkerInfo();


        //LOCALIZATION BUTTON
        infoWindow = new google.maps.InfoWindow();

        const locationButton = document.createElement("button");

        locationButton.textContent = "MI UBICACION";
        locationButton.classList.add("custom-map-control-button");
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
        locationButton.addEventListener("click", () => {
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        const pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude,
                        };

                        infoWindow.setPosition(pos);
                        infoWindow.setContent("Location found.");
                        infoWindow.open(map);
                        map.setCenter(pos);
                    },
                    () => {
                        handleLocationError(true, infoWindow, map.getCenter());
                    }
                );
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        });
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(
            browserHasGeolocation
                ? "Error: The Geolocation service failed."
                : "Error: Your browser doesn't support geolocation."
        );
        infoWindow.open(map);
    }

    //ENDS GEOLOCALIZATINO BUTTON

</script>

</body>

</html>